*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
h1, h4{
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(270deg, black, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   

.task-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #27d41a;
    border-radius: 4px;
    caret-color: #ff0000;
}
input[type="text"]:focus{
    border-color: #007BFF;
    outline: none;
}
input[type="text"]::placeholder{
    color: #aaa;
}
.task-add button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.task-add button:hover{
    background-color: #0056b3;
}
.task-list{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #0df024;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.task-list li:hover {
    background-color: #e9ecef; 
}
li span{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    cursor: text;
    font-size: 10px;
    margin-left: 40px;
}
li button{
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.task-list li button:hover{
    background-color: #c82333;
}

.task-list li button.delete:hover{
    background-color: #c82333;
}
#noTasksMessage{
    text-align: center;
    color: #aaa;
    user-select: none;
}

.clearTask button{
    border: none;
    float: right;
    padding: 5px 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px gray;
    margin-bottom: 15px;
}

#task-list{
    border: 1px solid red;
    display: none;
}
